::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#F08244; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #93512b; 
}

body {
  font-family: "Rajdhani", sans-serif;
}
.nav-absolute {
  position: absolute;
  width: 100%;
  background: transparent;
}
.fw-500 {
  font-weight: 600;
}
.main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../img/main.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.nav-item {
  padding: 10px 12px;
}
.active {
  color: #f08244 !important;
}
.giant-title {
  font-size: 80px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
.large-title {
  font-size: 64px;
}
.text-grey-custom {
  color: #737373;
  font-weight: 500;
}
.fz-medium {
  font-size: 16px;
}
.text-orange {
  color: #f08244;
}
.bg-orange {
  background: #f08244;
}
.auth-button {
  background: #f08244;
  color: white !important;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}
.testimoni {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../img/bg-testimoni.png");
  background-size: cover;
}
.border-card-testimoni {
  border-radius: 10px;
}
footer {
  background: #dddddd;
}
